:root{
    --pokemon-art-shopping-website-title-shadow-color: #0000ff;
    --pokemon-art-shopping-website-title-color: #da70d6;
    --pokemon-art-shopping-website-title-border-color: #ff0000;
    --pokemon-art-shopping-website-main-navbar-link-color: #000000;
    --pokemon-art-shopping-website-main-navbar-link-hover-color: #ffffff;
    --pokemon-art-shopping-website-nav-shadow-color: #ffa500;
    --pokemon-art-shopping-website-nav-border-color: #fa8072;
    --pokemon-art-shopping-website-box-bg-color: #ffebcd; 
    --pokemon-art-shopping-website-box-color:  #8b4513;
    --pokemon-art-shopping-website-box-border-color: #800008;
    --pokemon-art-shopping-website-contact-section-border-color: #808000;
    --pokemon-art-shopping-website-email-and-storage-link-shadow-color: #ffff00;
    --pokemon-art-shopping-website-email-and-storage-link-color: #1e90ff;
    --pokemon-art-shopping-website-northern-lights-link-color: #00ffff;
    --pokemon-art-shopping-website-ninetales-section-color: #ff4500;
    --pokemon-art-shopping-website-northern-lights-section-bg-color: #00008b;
    --pokemon-art-shopping-website-family-section-bg-color: #d2691e;
    --pokemon-art-shopping-website-family-section-color: #daa520;
    --pokemon-art-shopping-website-family-section-link-color: #ff1493;
    --pokemon-art-shopping-website-headquarters-section-bg-color: #696969;
    --pokemon-art-shopping-website-headquarters-section-color: #7cfc00;
    --pokemon-art-shopping-website-bonding-section-bg-color: #87cefa;
}
#pokemon_art_shopping_website_main_page{
    width: 100%;
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.dKz7ru7-DKlfIM83dvbpLgHaHa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
}
#pokemon_art_shopping_website_main_title{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 50pt;
    color: var(--pokemon-art-shopping-website-title-color);
    border: 5px solid var(--pokemon-art-shopping-website-title-border-color);
}
#pokemon_art_shopping_website_main_navbar{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: var(--pokemon-art-shopping-website-title-border-color);
    padding: 20px;
    background-color: var(--pokemon-art-shopping-website-title-border-color);
    font-size: 20pt;
}
#pokemon_art_shopping_website_main_navbar a, #pokemon_art_shopping_website_main_navbar a:visited{
    color: var(--pokemon-art-shopping-website-main-navbar-link-color);
}
#pokemon_art_shopping_website_main_navbar a:hover{
   color: var(--pokemon-art-shopping-website-main-navbar-link-hover-color);
}
#main_pokemon_art_shopping_website_image{
    margin-left: 100px;
}
#pokemon_art_shopping_website_main_webpage_section_navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--pokemon-art-shopping-website-box-bg-color);
    padding: 15px 10px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20pt;
    border: 5px solid var(--pokemon-art-shopping-website-nav-border-color);
    margin: 20px;
}
#pokemon_art_shopping_website_main_webpage_section_navbar a, #pokemon_art_shopping_website_main_webpage_section_navbar a:visited{
    color: var(--pokemon-art-shopping-website-box-color);
    text-shadow: 1px 0px var(--pokemon-art-shopping-website-nav-shadow-color);
}
#pokemon_art_shopping_website_main_webpage_section_navbar a:hover{
    color: var(--pokemon-art-shopping-website-title-color);
}
p, li, #wikipedia-link{
    font-size: 20pt;
}
#header{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 50pt;
    color: var(--pokemon-art-shopping-website-title-color);
}
#pokemon_art_shopping_website_description, #pokemon_art_shopping_website_special_section,
#pokemon_art_shopping_website_top_featured_artpieces_section{
    background-color: var(--pokemon-art-shopping-website-box-bg-color);
    padding: 15px 10px;
    color: var(--pokemon-art-shopping-website-box-color);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 65pt;
    border:5px solid var(--pokemon-art-shopping-website-box-border-color);
    margin: 15px 20px;
}
#pokemon_art_shopping_website_footer{
    background-color: var(--pokemon-art-shopping-website-box-bg-color);
    text-shadow: 1px 1px var(--pokemon-art-shopping-website-title-shadow-color);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20pt;
    width: 90%;
    padding-left: 10px;
    padding-right: 5px;
    color: var(--pokemon-art-shopping-website-title-color);
    border: 5px solid var(--pokemon-art-shopping-website-contact-section-border-color);
}
#email, #copyright_link, #storage_link, #email:visited, #copyright_link:visited #storage_link:visited{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-email-and-storage-link-shadow-color);
    font-size: 20pt;
    color: var(--pokemon-art-shopping-website-email-and-storage-link-color);
}
#email:hover, #copyright_link:hover, #storage_link:hover{
    color: var(--pokemon-art-shopping-website-title-border-color);
}
#ninetales{
    background-color: var(--pokemon-art-shopping-website-email-and-storage-link-color);
    color: var(--pokemon-art-shopping-website-ninetales-section-color);
}
#ninetales-link, #ninetales-link:visited{
    color: var(--pokemon-art-shopping-website-ninetales-section-color); 
}
#ninetales-link:hover{
    color: var(--pokemon-art-shopping-website-northern-lights-section-bg-color);
}
#northernLights{
    background-color: var(--pokemon-art-shopping-website-northern-lights-section-bg-color);
    color: var(--pokemon-art-shopping-website-northern-lights-link-color);
}
#northern-lights-link, #northern-lights-link:visited{
    color: var(--pokemon-art-shopping-website-northern-lights-link-color); 
}
#northern-lights-link:hover{
    color: var(--pokemon-art-shopping-website-title-color);
}
#family{
    background-color: var(--pokemon-art-shopping-website-family-section-bg-color);
    color: var(--pokemon-art-shopping-website-family-section-color);
}
#pokemon-family-link, #pokemon-family-link:visited{
    color: var(--pokemon-art-shopping-website-family-section-color);
}
#pokemon-family-link:hover{
    color: var(--pokemon-art-shopping-website-family-section-link-color);
}
#autumn{
    background-color: var(--pokemon-art-shopping-website-ninetales-section-color);
    color: var(--pokemon-art-shopping-website-box-color);
}
#autumn-shrine-link, #autumn-shrine-link:visited{
    color: var(--pokemon-art-shopping-website-box-color);
}
#autumn-shrine-link:hover{
    color: var(--pokemon-art-shopping-website-email-and-storage-link-shadow-color);
}
#hq{
    background-color: var(--pokemon-art-shopping-website-headquarters-section-bg-color);
    color: var(--pokemon-art-shopping-website-headquarters-section-color);
}
#video-game-hq-link, #video-game-hq-link:visited{
    color: var(--pokemon-art-shopping-website-headquarters-section-color);
}
#video-game-hq-link:hover{
    color: var(--pokemon-art-shopping-website-email-and-storage-link-color);
}
#playPark{
    background-color: var(--pokemon-art-shopping-website-headquarters-section-color);
    color: var(--pokemon-art-shopping-website-nav-border-color);
}
#play-park-link, #play-park-link:visited{
    color: var(--pokemon-art-shopping-website-nav-border-color);
}
#play-park-link:hover{
    color: var(--pokemon-art-shopping-website-main-navbar-link-hover-color);
}
#bonding{
    background-color: var(--pokemon-art-shopping-website-bonding-section-bg-color);
    color: var(--pokemon-art-shopping-website-email-and-storage-link-shadow-color);
}
#bonding-link, #bonding-link:visited{
    color: var(--pokemon-art-shopping-website-email-and-storage-link-shadow-color);
}
#bonding-link:hover{
    color: var(--pokemon-art-shopping-website-northern-lights-section-bg-color);
}
.pokemon_art_shopping_website_top_featured_artpieces_boxes{
    position: relative;
    width: 350px;
    height: 500px;
    margin-left: 70px;
}
.pokemon_art_shopping_website_product_images{
    position: absolute;
    left: 450px;
}
@media (max-width: 800px){
    #pokemon_art_shopping_website_main_title{
        margin-left: 25px;
        width: 85%;
    }
    #main_pokemon_art_shopping_website_image{
        width: 85%;
        margin-left: 30px;
    }
    #pokemon_art_shopping_website_main_navbar{
        margin-left: 5px;
        gap: 25px;
        width: 85%;
    }
    #pokemon_art_shopping_website_main_webpage_section_navbar{
        margin-right: 10px;
        width: 85%;
    }
    #pokemon_art_shopping_website_description,
    #pokemon_art_shopping_website_special_section,
    #pokemon_art_shopping_website_top_featured_artpieces_section{
        margin-left: 13px;
        width: 80%;
    }
    #pokemon_art_shopping_website_footer{
        margin-left: 8px;
        width: 85%;
    }
    .pokemon_art_shopping_website_top_featured_artpieces_boxes{
        margin-left: 5px;
        width: 40%;
    }
    .pokemon_art_shopping_website_product_images{
        left: 307px;
        width: 385px;
    }
}
@media (max-width: 500px){
    #pokemon_art_shopping_website_main_title{
        padding-left: 5px;
        padding-right: 10px;
        margin-left: 15px;
    }
    #main_pokemon_art_shopping_website_image{
        margin-left: 25px;
    }
    #pokemon_art_shopping_website_main_navbar{
        gap: 35px;
        margin-left: 5px;
        width: 82%;
    }
    #pokemon_art_shopping_website_main_webpage_section_navbar{
        margin-left: 10px;
        margin-right: 0px;
    }
    #pokemon_art_shopping_website_description,
    #pokemon_art_shopping_website_top_featured_artpieces_section{
        width: 85%;
        margin-left: 5px;
    }
    #pokemon_art_shopping_website_special_section{
        margin-left: 0px;
        margin-right: 10px;
        width: 85%;
    }
    #wikipedia-link{
        margin-right: 25px;
    }
    #pokemon_art_shopping_website_footer{
        width: 90%;
        margin-left: 0px;
        padding-left: 5px;
    }
    .pokemon_art_shopping_website_top_featured_artpieces_boxes{
        margin-left: 0px;
        margin-bottom: 310px;
        width: 90%;
        height: 20%;
    }
    .pokemon_art_shopping_website_product_images{
        left: 0px;
        top: 88px;
        width: 383px;
        height: 300px; 
    }
    #autumn-shrine-image{
        top: 120px;
    }
}