:root{
    --pokemon-art-shopping-website-title-shadow-color: #0000ff;
    --pokemon-art-shopping-website-title-color: #da70d6;
    --pokemon-art-shopping-website-title-border-color: #ff0000;
    --pokemon-art-shopping-website-main-navbar-link-color: #ffffff;
    --pokemon-art-shopping-website-nav-shadow-color: #ffa500;
    --pokemon-art-shopping-website-nav-border-color: #fa8072;
    --pokemon-art-shopping-website-box-bg-color: #ffebcd; 
    --pokemon-art-shopping-website-box-color:  #8b4513;
    --pokemon-art-shopping-website-box-border-color: #800008;
    --pokemon-art-shopping-website-contact-section-border-color: #808000;
    --pokemon-art-shopping-website-email-and-storage-link-shadow-color: #ffff00;
    --pokemon-art-shopping-website-email-and-storage-link-color: #00ffff;
    --pokemon-art-shopping-website-ninetales-section-color: #ff4500;
    --pokemon-art-shopping-website-northern-lights-section-bg-color: #00008b;
    --pokemon-art-shopping-website-family-section-bg-color: #d2691e;
    --pokemon-art-shopping-website-family-section-color: #daa520;
    --pokemon-art-shopping-website-autumn-section-color: #cd853f;
    --pokemon-art-shopping-website-headquarters-section-bg-color: #696969;
    --pokemon-art-shopping-website-headquarters-section-color: #7cfc00;
    --pokemon-art-shopping-website-bonding-section-bg-color: #87cefa;
}
#pokemon_art_shopping_website_main_page{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.dKz7ru7-DKlfIM83dvbpLgHaHa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
}
#pokemon_art_shopping_website_main_title{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 50pt;
    color: var(--pokemon-art-shopping-website-title-color);
    border: 5px solid var(--pokemon-art-shopping-website-title-border-color);
}
#pokemon_art_shopping_website_main_navbar{
    display: flex;
    gap: 10px;
    color: var(--pokemon-art-shopping-website-main-navbar-link-color);
    background-color: var(--pokemon-art-shopping-website-title-border-color);
}
#main_pokemon_art_shopping_website_image{
    left: auto;
    right: auto;
}
#pokemon_art_shopping_website_main_webpage_section_navbar{
    text-shadow: 1px 0px var(--pokemon-art-shopping-website-nav-shadow-color);
    font-size: 20pt;
    border: 5px solid var(--pokemon-art-shopping-website-nav-border-color);
}
p, li{
    font-size:20pt;
}
#header{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 50pt;
    color: var(--pokemon-art-shopping-website-title-color);
}
#description, #special,#artpieces{
    background-color: var(--pokemon-art-shopping-website-box-bg-color);
    padding:15px 10px;
    color: var(--pokemon-art-shopping-website-box-color);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size:65 pt;
    border:5px solid var(--pokemon-art-shopping-website-box-border-color);
}
#contact{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 20pt;
    color: var(--pokemon-art-shopping-website-title-color);
    border: 5px solid var(--pokemon-art-shopping-website-contact-section-border-color);
}
#home{
    position: initial;
    left: 100px;
    top: 150;
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    color: var(--pokemon-art-shopping-website-title-color);
    font-size: 30pt;
}
#price{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    color: var(--pokemon-art-shopping-website-title-color);
    font-size: 30pt;
}
#ninetalesDescription, #bondDescription{
    background-color: var(--pokemon-art-shopping-website-box-bg-color);
    padding:15px 10px;
    color: var(--pokemon-art-shopping-website-box-color);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size:105 pt;
    border:5px solid var(--pokemon-art-shopping-website-box-border-color);
}
#email, #storage_link{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-email-and-storage-link-shadow-color);
    font-size: 20pt;
    color: var(--pokemon-art-shopping-website-email-and-storage-link-color);
}
#ninetales{
    background-color: var(--pokemon-art-shopping-website-email-and-storage-link-color);
    color: var(--pokemon-art-shopping-website-ninetales-section-color);
}
#northernLights{
    background-color: var(--pokemon-art-shopping-website-northern-lights-section-bg-color);
    color: var(--pokemon-art-shopping-website-email-and-storage-link-color);
}
#family{
    background-color: var(--pokemon-art-shopping-website-family-section-bg-color);
    color: var(--pokemon-art-shopping-website-family-section-color);
}
#autumn{
    background-color: var(--pokemon-art-shopping-website-ninetales-section-color);
    color: var(--pokemon-art-shopping-website-autumn-section-color);
}
#hq{
    background-color: var(--pokemon-art-shopping-website-headquarters-section-bg-color);
    color: var(--pokemon-art-shopping-website-headquarters-section-color);
}
#playPark{
    background-color: var(--pokemon-art-shopping-website-headquarters-section-color);
    color: var(--pokemon-art-shopping-website-nav-border-color);
}
#bonding{
    background-color: var(--pokemon-art-shopping-website-bonding-section-bg-color);
    color: var(--pokemon-art-shopping-website-email-and-storage-link-shadow-color);
}